<ion-header>
  <ion-toolbar color="primary">
    <ion-title>kawan learning</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="beranda" color="primary">
    <ion-segment-button value="beranda">
      <ion-icon name="home"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-segment-button>
    <ion-segment-button value="daftarMateri">
      <ion-icon name="book"></ion-icon>
      <ion-label>Daftar Materi</ion-label>
    </ion-segment-button>
    <ion-segment-button value="materiSaya">
      <ion-icon name="bookmark"></ion-icon>
      <ion-label>Materi Saya</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item>
      <ion-label>
        <h2>PR Bahasa Inggris</h2>
        <p>5 topik</p>
      </ion-label>
      <ion-note slot="start" color="primary">
        <p>Mar</p>
        <p>22</p>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>PR Fisika</h2>
        <p>3 topik</p>
      </ion-label>
      <ion-note slot="start" color="primary">
        <p>Mar</p>
        <p>25</p>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>PR Matematika</h2>
        <p>4 topik</p>
      </ion-label>
      <ion-note slot="start" color="primary">
        <p>Mar</p>
        <p>26</p>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>PR Bahasa Indonesia</h2>
        <p>2 topik</p>
      </ion-label>
      <ion-note slot="start" color="primary">
        <p>Mar</p>
        <p>27</p>
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
