<ion-header>
  <ion-toolbar>
    <ion-title>
      <div
        style="
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <h3 style="margin-right: 8px">Module</h3>
        <ion-button (click)="back()"> Kembali </ion-button>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button *ngIf="role=='admin'" (click)="tambahModule()"
    >Tambah Course</ion-button
  >

  <ion-list>
    <!-- <ion-card *ngFor="let course of courses$ | async"> -->
    <ion-card>
      <ion-card-content>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="3">
              <ion-thumbnail> </ion-thumbnail>
            </ion-col>
            <ion-col size="9"></ion-col>
            <ion-card-content>
              <ion-card-title>nama module</ion-card-title>

              <ion-button
                *ngIf="role=='admin'"
                color="primary"
                (click)="editModule()"
                >Update</ion-button
              >
              <ion-button
                *ngIf="role=='admin'"
                color="danger"
                (click)="deleteModule()"
                >Delete</ion-button
              >
            </ion-card-content>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
