<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Create new Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="register-container">
    <div class="centered-image"></div>
    <h2>Create new Account</h2>

    <ion-list>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" [(ngModel)]="form.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="form.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="form.password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button color="primary" (click)="register()">Daftar</ion-button>
    <ion-button (click)="back()"> Kembali </ion-button>
  </div>
</ion-content>
